* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 64%, rgba(148, 187, 233, 1) 100%);
}

a {
    text-decoration: none;
}

.navDesgin {

    background: radial-gradient(circle, rgba(237, 174, 238, 1) 42%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 9px -3px 6px 1px #DD19E0;


}

.logo {
    margin-left: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo>img {
    width: 50px;

}

.logo>h3 {
    background: #13479A;
background: linear-gradient(to right, #13479A 28%, #8C1F7F 83%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    

}

.navBar {

    margin-right: 50px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar>a {
    font-weight: 1000;

}

.navBar>.order {
    background-color: #DD19E0;
    color: aliceblue;
    padding: 15px;
    border-radius: 20px;
    width: 120px;
    border: none;
    height: 50px;
    text-align: center
}

.parentbanner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.childbanner {
    padding: 20px;
}

.childbanner>img {
    width: 900px;
    height: 500px;
    border-radius: 30px;
}
section{
    padding: 20px;
    justify-content: center;
    display: flex;
    
}

.about{
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(127, 177, 235, 1) 97%);
width: 1100px;
display: flex;
justify-content: center;
align-items:start;
flex-direction: column;
padding: 30px;
border-radius: 20px;
box-shadow: 3px 3px 5px 1px black;
}
.about>p>strong{
    font-size: 20px;
}
.about> p{
    margin-bottom: 10px;
}
.about > h2{
    font-size: 40px;
}

    


.contact{
      background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(127, 177, 235, 1) 97%);
width: 1100px;
display: flex;
justify-content: center;
align-items:start;
flex-direction: column;
padding: 30px;
border-radius: 20px;
box-shadow: 3px 3px 5px 1px black;
}
.contact>p>strong{
    font-size: 20px;
}
.contact> p{
    margin-bottom: 10px;
}
.contact> h2{
    font-size: 40px;
}