*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
.total{
    background-color: rgb(117, 252, 252);width: 250px;height: 320px;
    margin: 20px; padding: 10px; text-align: center;
}
h2{
    background-color: rgb(97, 92, 92); color: aliceblue;
    border-radius: 20px; margin: 10px;   text-align: center;padding: 10px;
}
img{
    width: 200px; padding: 10px;height: 150px;border: double black 5px;
}
.content{
    background-color: aquamarine;
      
}
.IT{
    margin: 5px; border: 5px; text-align: center; background-color: black;color: lightpink; border-radius: 5px;
}
.full{
    background-color: lightpink; color: black; width: 270px; padding: 30px; margin: 15px;
}



.cmain{
    background-color: aqua; width: 300px; padding: 23px;margin: 20px;  

}
.product{
    text-align: center; 
}
button{
    width: 75px; background-color: bisque;color: darkblue;
}

