*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background: #f5eded;
background: radial-gradient(circle, rgba(245, 237, 237, 1) 72%, rgba(148, 187, 233, 1) 100%, rgba(148, 187, 233, 1) 100%);


}
a{
    text-decoration: none;
}
.dashboard{
    background-color: aqua;
    color: black;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;

}
nav{
    padding-right: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}
.mainimg > img{
    width: 700px; height: 400px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.mainimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: whitesmoke;
    width: 800px;
    border-radius: 30px;
    
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 20px;
    box-shadow: 2px 1px 2px 1px gray;
}

.total{
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    
}