*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.parent{
    padding: 20px;
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.child{
    background-color: aqua;
    width: 200px;
    height: 200px;
    text-align: center;

}