*{ 
    margin: 0;
    padding: 0;
}
.head{ 
    display: flex;
    margin: 10px;
    padding: 5px;
    background-color: orangered;
    color: white;
}
.button {
    margin-left: 60%;
}
.rules{
    background-color: orangered;color: white;
    padding: 10px;
    margin: 5px;
}
.image{
    padding-left: 400px;

}
.food{
    padding: 10px;
    margin: 10px;

}
