*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.child{
    padding: 20px;
    margin: 20px;
}
li{
    font-size: 18px;
}
li:first-child{
    color: color;
    background-color: red;
}
li:last-child{
    color: burlywood;
    background-color: brown;
}