*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.head{
    background-color: rgb(69, 248, 248);color: black;
    text-align: center;
}
.full{
    background-color: rgb(71, 68, 68); color: rgb(206, 255, 255);
}
.profile{
    color: rgb(196, 194, 194)
    ;text-align: center;
}
.content{

    background-color: azure;color: chocolate;  text-align: center;

}