*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration:none
}
.movie{
    background-color: black;color: aliceblue; 
}
h1{
    background-color: aquamarine;color: rgb(51, 85, 18);text-align: center;
}
h2,p{
    text-align: center;
    color: beige;
}
.total{
    width: 200px;
}